doctype html
html
    head
        title Graf
        link(rel='stylesheet', href='/bower_components/bootstrap/dist/css/bootstrap.css')
        script(src='/bower_components/pegjs/src/parser.pegjs')
        script(src='/js/index.js')
        
    body
        h1 Graf
        a(href='/visualize') Visualize