doctype html
html
    head
        title Graf
        script(src='/bower_components/threejs/build/three.js')
        script(src='/bower_components/jquery/dist/jquery.js')
        script(src='/js/ConvolutionShader.js')
        script(src='/js/CopyShader.js')
        script(src='/js/FXAAShader.js')
        script(src='/js/EffectComposer.js')
        script(src='/js/MaskPass.js')
        script(src='/js/RenderPass.js')
        script(src='/js/ShaderPass.js')
        script(src='/js/BloomPass.js')
        script(src='/js/ShaderGodRays.js')
        script(src='/js/helvetiker_regular.typeface.js')
        script(src='/js/TrackballControls.js')
        script(src='/js/stats.min.js')
        script(src='/js/tween.js')

    body
        // #container
        script(src='/js/visualize.js')