@import './variables.less';
@import url(http://fonts.googleapis.com/css?family=Pacifico);

.logo {
	font-family: 'Pacifico', cursive;
}

#d3canvas {
	border: 1px solid @gray-lighter;
}

line {
	stroke: @gray-light;
}

g.package circle {
	fill: @gray-lighter;
	stroke: @gray-dark;
	stroke-width: 3;
}

g.module circle {
	fill: @gray-lighter;
	stroke: @gray-light;
	stroke-width: 1;
}