@import './variables.less';
@import url(http://fonts.googleapis.com/css?family=Pacifico);

@dependency-highlight: #ff685f;
@package-highlight: #51caff;
@parent-package-highlight: #242bff;
@parent-module-highlight: #ffb21e;
@line-color: fade(@gray, 30%);
@text-color: @gray-darker;
@package-fill: @gray;
@package-stroke: @gray-light;
@module-fill: lighten(@gray-lighter, 25%);
@module-stroke: @gray-light;
@selected-percent: 20%;
@unfocused-percent: 40%;

.logo {
	font-family: 'Pacifico', cursive;
}

.visualization {
	border: 1px solid @gray-lighter;
	position: relative;
}

#status-text {
	position: absolute;
	left: 0;
	right: 0;
	padding: 10;
}

#arrowhead {
	stroke: fade(@gray, 90%);
	fill: fade(@gray, 90%);
}

small {
	color: @gray-light;
}

line {
	stroke: @line-color;
	stroke-width: 1;
}

text {
	fill: @text-color;
}

.package circle {
	fill: @package-fill;
	stroke: @package-stroke;
	stroke-width: 1;
}

.module circle {
	fill: @module-fill;
	stroke: @module-stroke;
	stroke-width: 1;
}


// HIGHLIGHT

.node-highlight-mixin(@highlight-color) {
	circle {
		fill: @highlight-color;
	}
	text {
		fill: darken(@highlight-color, 25%);
	}
}

.line-highlight-mixin(@highlight-color) {
	stroke: lighten(@highlight-color, 10%);
	stroke-width: 2;
}

g.dependency-highlight {
	.node-highlight-mixin(@dependency-highlight);
}
line.dependency-highlight {
	.line-highlight-mixin(@dependency-highlight)
}

g.package-highlight {
	.node-highlight-mixin(@package-highlight);
}
line.package-highlight {
	.line-highlight-mixin(@package-highlight);
}

g.parent-package-highlight {
	.node-highlight-mixin(@parent-package-highlight);
}
line.parent-package-highlight {
	.line-highlight-mixin(@parent-package-highlight);
}

g.parent-module-highlight {
	.node-highlight-mixin(@parent-module-highlight);
}
line.parent-module-highlight {
	.line-highlight-mixin(@parent-module-highlight);
}


// SELECTED

.selected {
	circle {
		stroke-width: 2;
	}
	text {
		stroke-width: 2;
	}
}

.selected.package {
	circle {
		stroke: darken(@package-stroke, @selected-percent);
	}
}

.selected.module {
	circle {
		stroke: darken(@module-stroke, @selected-percent);
	}
}


// UNFOCUSED

.unfocused {
	text {
		fill: lighten(@text-color, @unfocused-percent);
	}
}

.unfocused.package {
	circle {
		fill: lighten(@package-fill, @unfocused-percent);
		stroke: lighten(@package-stroke, @unfocused-percent);
	}
}

.unfocused.module {
	circle {
		fill: lighten(@module-fill, @unfocused-percent);
		stroke: lighten(@module-stroke, @unfocused-percent);
	}
}

line.unfocused {
	stroke: lighten(@line-color, @unfocused-percent);
}